.point_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0px;
}

.point_icon {
	background: url('marker2.png');
	width: 75px;
	height: 75px;
	object-fit: contain;
}

.area_icon {
	background: red;
	width: 50px;
	height: 50px;
}

#points .p_info {
	font-size: 0.8em;
	margin: 0 5px;
	margin-right: 0px;
	display: flex;
}

#points .p_info_container {
	width: 70%;
	margin-left: 5%;
}

.p_info b {
	margin-right: 10px;
}

#header h2, #points p {
	text-align: center;
	margin: 10px 0;
}

#header h2 {
	line-height: 1.1em;
}